.content{
    *margin-bottom:10px;
    _background:#fff;
}
.con_bg{
    *height: 1225px;
}
.guide-slider .guide .behind .function-list-wrap .function-list{
    height: 304px;
}
.guide-slider .guide .behind .function-list-wrap p{
    font-size: 16px;
    padding-bottom: 10px;
    width: 94%;
}
#mytitle,#mytitle-qm{
    position: absolute;
    color: #000;
    font-size: 12px;
    border: solid 1px #000;
    padding: 2px 3px;
    background-color: #fff;
}
.guide-slider .guide .behind .function-list-wrap p.line{
    border-bottom:1px dashed #c9c9c9;
    margin-bottom: 20px;
}
.mobile_gqtabzxz{
    display: none;
}
.con_part3 li {
    width: 168px;
    height: 133px;
    background: url(/govweb/xhtml/2019zhuanti/guoqiguohui20201217V1/images/part3_li_bg02.jpg) top center no-repeat;
    margin-right: 6px;
}
.con_part3 li img {
    margin: 28px auto 15px;
    height: 42px;
}
@media screen and (max-width: 767px){
    .onload-container-left .titleh2{
        border: none;
    }
    .onload-container .titleh2 img{
        padding-left: 0;
    }
    .mobile_gqtabzxz{
        display: block;
    }
    
    .guide-slider p{
        padding: 10px 8px 0;
    }
    
    .m-guoqi-text p{
        text-indent: 2em;
    }
    .titleh2 img.gqffg_m{
        width: 69%;
    }
    .con_part3 li img {
        height:auto;
    }
    
}
@media screen and (max-width: 458px){
    .mobile_show .picScroll-left{
        width: 86%;
    }
    .con_part3 li a,.con_part3 li{
        font-size: 0.8rem;
    }
    .con_part3 li {
        float: left;
        width: 45%;
        height: auto;
        margin: 6px 2%;
        background: none;
        border: 1px solid #e5e5e5;
        border-radius: 11px;
        box-shadow: 0 0 5px #e5e5e5;
        height: 118px;
    }
    .m-guoqi-text p, .guide-slider ul li a span, .guide-slider p, .picScroll-left .bd ul li .title a, .guide-slider ul li a{
        font-size: 0.8rem;
        line-height: 18px;
    }
    .picScroll-left .bd {
        max-height: 214px;
    }
}
@media screen and (max-width: 414px){
    .con_part3 li a,.con_part3 li{
        font-size: 0.9rem;
    }
    .mobile_show .picScroll-left{
        width: 78%;
    }
    .m-guoqi-text p, .guide-slider ul li a span, .guide-slider p, .picScroll-left .bd ul li .title a, .guide-slider ul li a{
        font-size: 0.9rem;
        line-height: 24px;
    }
    
}
@media screen and (max-width: 395px){
    
    .mobile_show .picScroll-left{
        width: 82%;
    }
}
@media screen and (max-width: 375px){
    .mobile_show .picScroll-left{
        width: 86%;
    }
    
}
@media screen and (max-width: 360px){
    .mobile_show .picScroll-left{
        width: 90%;
    }
}
@media screen and (max-width: 320px){
    .mobile_show .picScroll-left{
        width: 100%;
    }
}
