@font-face {
    font-family:"govwf_fzzhunysk_ys_1196561333";
    src:url("govwf_fzzhunysk_ys_1196561333.woff") format("woff"), /* chrome, firefox */
    url("govwf_fzzhunysk_ys_1196561333.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fzzhunysk_ys_1196561333.svg#govwf_fzzhunysk_ys_1196561333") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fzzhunysk_ys_1196561333";
    src: url("govwf_fzzhunysk_ys_1196561333.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
