.find_back_pwd {
    width: 1200px;
    margin: 0 auto
}

.find_back_pwd .login-user {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    color: #666;
    padding-top: 10px
}

.find_back_pwd .login-user a {
    color: #1db6f6
}

.find_back_pwd .register_box {
    width: 661px;
    height: 512px;
    border-radius: 10px;
    background: #fff;
    margin: 100px auto;
    border: 1px solid #fff;
    position: relative;
    box-shadow: 0 15px 40px rgba(51, 162, 247, .2)
}

.find_back_pwd .register_box .find_title {
    width: 550px;
    height: 60px;
    margin: 35px auto;
    background: url(/pc/img/password/register_tit.png) center center no-repeat
}

.find_back_pwd .register_box .find_title p {
    text-align: center;
    line-height: 58px;
    font-size: 20px;
    color: #33a2f7;
    font-family: 'PingFang SC'
}

.find_back_pwd .register_box .go_login {
    width: 92px;
    height: 49px;
    display: block;
    position: absolute;
    top: 42px;
    right: -13px;
    line-height: 54px;
    text-indent: 33px;
    color: #fff;
    letter-spacing: 1px;
    background: url(/pc/img/password/go-login.png) center center no-repeat
}

.find_back_pwd .register_box .password_form {
    width: 400px;
    margin: 45px auto
}

.find_back_pwd .register_box .password_form .item {
    width: 100%;
    height: 50px;
    margin-bottom: 27px;
    position: relative
}

.find_back_pwd .register_box .password_form .item .w243 {
    width: 243px !important
}

.find_back_pwd .register_box .password_form .item .tips {
    position: absolute;
    width: 100%;
    height: 16px;
    background: url(/pc/img/password/tips.png) 5px center no-repeat;
    text-indent: 30px;
    font-size: 12px;
    color: #f84224;
    opacity: 0;
    top: -25px;
    transition: all .3s
}

.find_back_pwd .register_box .password_form .item .tips.show {
    opacity: 1;
    top: -22px
}

.find_back_pwd .register_box .password_form .item .name {
    display: block;
    width: 37px;
    height: 22px;
    border-right: 1px solid #dadada;
    position: absolute;
    top: 13px;
    text-align: center
}

.find_back_pwd .register_box .password_form .item .input_text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-indent: 50px;
    outline: 0;
    transition: all .5s;
    font-family: SimSun
}

.find_back_pwd .register_box .password_form .item .get_code,
.find_back_pwd .register_box .password_form .item .get_pic_code {
    width: 130px;
    height: 50px;
    line-height: 50px;
    float: right;
    border-radius: 5px;
    cursor: pointer
}

.find_back_pwd .register_box .password_form .item .input_text:focus {
    border-color: #fa8838
}

.find_back_pwd .register_box .password_form .item .get_code {
    color: #fff;
    background: #ff9c00;
    text-align: center
}

.find_back_pwd .register_box .password_form .item .get_code.disabled {
    background: #d2d2d2
}

.find_back_pwd .register_box .password_form .mb10 {
    margin-bottom: 10px !important
}

.find_back_pwd .register_box .password_form .reader {
    display: flex;
    flex-direction: row
}

.find_back_pwd .register_box .password_form .reader .selected {
    width: 16px;
    height: 16px;
    background: url(/pc/img/login/check.png) center center no-repeat;
    display: inline-block;
    cursor: pointer
}

.find_back_pwd .register_box .password_form .reader .selected.on {
    background: url(/pc/img/login/checked2.png) center center no-repeat
}

.find_back_pwd .register_box .password_form .reader .font {
    font-size: 12px;
    color: #b9b9b9;
    padding-left: 5px;
    letter-spacing: 2px;
    font-family: SimSun
}

.find_back_pwd .register_box .password_form .reader .font a {
    color: #5e5e5e;
    text-decoration: underline
}

.find_back_pwd .register_box .password_form .next {
    width: 200px;
    height: 48px;
    margin: 30px auto;
    line-height: 48px;
    text-align: center;
    background: #33a2f7;
    font-size: 16px;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(51, 162, 247, .4)
}

.find_back_pwd .register_box .password_form .find_success {
    padding-top: 27px;
    text-align: center;
    line-height: 70px
}

.find_back_pwd .register_box .password_form .find_success img {
    display: inline-block;
    vertical-align: middle
}

.find_back_pwd .register_box .password_form .find_success span {
    display: inline-block;
    font-size: 22px;
    color: #fcb141;
    padding-left: 20px;
    vertical-align: middle
}

.agreement {
    font-size: 12px;
    line-height: 20px;
    color: #b9b9b9;
    padding-left: 5px;
    letter-spacing: 2px;
    font-family: SimSun
}